<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>{{{title}}}</title>
  <meta charset="utf-8" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="copyright" content="{{{copyright-line}}}" />
  <meta name="robots" content="noindex" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="MobileOptimized" content="width" />
  <meta name="HandheldFriendly" content="true" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
  <div class="body">
    <div class="article">
      <div class="article-header">{{{site-title}}}</div>
      <div class="article-body">
        {{{data}}}
      </div>
    </div>
    <div class="footer">
      <div id="footer-copyright">{{{copyright-line}}}</div>
      {{{site-about}}}
      | <div id="footer-privacy"><a rel="nofollow" href="/privacy-policy">Privacy Policy</a></div>
      | <div id="footer-cookies"><a rel="nofollow" href="#" id="open_preferences_center">Cookie Preferences</a></div>
      <div id="footer-last-updated">{{{last-updated-nice}}}</div>
    </div>
  </div>
</body>
</html>