    <div class="footer">
      <div id="footer-copyright">{{{copyright-line}}}</div>
      {{{site-about}}}
      | <div id="footer-privacy"><a rel="nofollow" href="/privacy-policy">Privacy Policy</a></div>
      | <div id="footer-cookies"><a rel="nofollow" href="#" id="open_preferences_center">Cookie Preferences</a></div>
      <span id="footer-comments-separator"> | </span>
      <div id="footer-comments"><a rel="nofollow" href="#comments" id="open_comments">Leave a comment</a></div>
      <div id="footer-last-updated">{{{last-updated-nice}}}</div>
    </div>
    {{{comments}}}
  </div>
</body>
</html>