<!DOCTYPE html>
<html lang="en" dir="ltr"
      prefix="content: http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema# ">
<head>
  <title>{{{title}}}</title>
  <link rel="canonical" href="{{{canonical-link}}}" />
  <meta charset="utf-8" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="strict-transport-security" content="max-age=604800; includeSubDomains; preload" />
  <meta http-equiv="access-control-allow-origin" content="{{{site-link}}}" />
  <meta http-equiv="x-content-type-options" content="nosniff" />
  <meta name="copyright" content="{{{copyright-line}}}" />
  <meta name="DC.title" content="{{{title}}}" />
  <meta name="robots" content="{{{robots-index}}}" />
  <meta name="description" content="{{{description}}}" />
  <meta name="keywords" content="{{{meta-keywords}}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="MobileOptimized" content="width" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@davipt" />
  <meta name="twitter:creator" content="@davipt" />
  <meta name="twitter:description" content="{{{description}}}" />
  <meta name="twitter:title" content="{{{title}}} | {{{site-name}}}" />
  <meta name="twitter:url" content="{{{canonical-link}}}" />
  <meta property="og:url" content="{{{canonical-link}}}" />
  <meta property="og:site_name" content="{{{site-name}}}" />
  <meta property="og:title" content="{{{title}}} | {{{site-name}}}" />
  <meta property="og:description" content="{{{description}}}" />
  <link rel="alternate" href="{{{canonical-link}}}" hreflang="x-default" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/site.css" />
  <script data-cookie-consent="tracking" type="text/plain" async crossorigin="anonymous"
          orig="https://www.googletagmanager.com/gtag/js?id={{{google-analytics}}}"
          src="/js/gtag-{{{google-analytics}}}.js"
          integrity="{{{integrity-/js/gtag-{{{google-analytics}}}.js}}}"></script>
  <script data-cookie-consent="tracking" type="text/plain"
          integrity="{{{integrity-text-local-gtag-js}}}">
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date()); gtag('config', '{{{google-analytics}}}');
  </script>
  <!-- script data-cookie-consent="targeting" type="text/plain" async crossorigin="anonymous"
              src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9189093240621928"></script -->
  <!-- https://www.freeprivacypolicy.com/public/cookie-consent/4.1.0/cookie-consent.js -->
  <script type="text/javascript" src="/js/cookie-consent.js" crossorigin="anonymous"
          nonce="FptGUMIiKR2Et2/0SPHhuPz01YpmDGKhV4IjBl8B0OAHqwoPWtqbSqtMSDgfMQPJ"
          integrity="{{{integrity-/js/cookie-consent.js}}}"></script>
  <script type="text/javascript" crossorigin="anonymous"
          integrity="{{{integrity-text-local-js}}}">
    canonical=document.location.href.replace(/.html$/,"").replace(/index$/,"");
    if(document.location.href!=canonical){document.location.href=canonical};
    document.addEventListener('DOMContentLoaded',function(){cookieconsent.run(
      {"notice_banner_type":"simple","consent_type":"express","palette":"light","language":"en",
      "page_load_consent_levels":["strictly-necessary"],"notice_banner_reject_button_hide":false,
      "preferences_center_close_button_hide":false,"page_refresh_confirmation_buttons":false,
      "website_name":"{{{site-name}}}","website_privacy_policy_url":"{{{site-link}}}/privacy-policy"})})
  </script>
</head>
<body>
  <div class="body">