<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>301 Moved Permanently</title>
  <link rel="canonical" href="{{{canonical-link}}}" />
  <meta charset="utf-8" />
  <meta http-equiv="refresh" content="1; url={{{canonical-link}}}">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="copyright" content="{{{copyright-line}}}" />
  <meta name="robots" content="follow,noindex" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="MobileOptimized" content="width" />
  <meta name="HandheldFriendly" content="true" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/site.css" />
  <script type="text/javascript" crossorigin="anonymous"
          integrity="{{{integrity-text-redirect-js}}}">
    canonical = '{{{canonical-link}}}'
    if (document.location.href != canonical) document.location.href = canonical
  </script>
</head>
<body>
  <div class="body">
    <div class="article">
      <div class="article-header">{{{site-title}}}</div>
      <div class="article-body">
        <h1>HTTP 301 Moved Permanently</h1>
        <p>This page has been moved into <a href="{{{canonical-link}}}">{{{canonical-link}}}</a>.</p>
      </div>
    </div>
    <div class="footer">
      <div id="footer-copyright">{{{copyright-line}}}</div>
      {{{site-about}}}
      | <div id="footer-privacy"><a rel="nofollow" href="/privacy-policy">Privacy Policy</a></div>
      | <div id="footer-cookies"><a rel="nofollow" href="#" id="open_preferences_center">Cookie Preferences</a></div>
      <div id="footer-last-updated">{{{last-updated-nice}}}</div>
    </div>
  </div>
</body>
</html>
